{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Create New Discussion{% endblock %}

{% block content %}
<div class="card mb-5">
    <div class="card-body">
        <h1 class="card-title text-success mb-4">Create New Discussion</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|crispy }} {# Render the form using crispy_forms #}
            <button type="submit" class="btn btn-success mt-3">Create Discussion</button>
        </form>
    </div>
</div>
{% endblock %}