{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Reply to Comment{% endblock %}

{% block content %}
    <div class="card mt-4 mb-5">
        <div class="card-body">
            <h3 class="h4 mb-3 text-success">Reply to {{ parent_comment.author.username }}'s comment:</h3>
            <p>{{ parent_comment.content }}</p>

            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-success mt-3">Post Reply</button>
            </form>
        </div>
    </div>
{% endblock %}